asgi-redis==1.4.3
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.2.2
Automat==0.8.0
certifi==2019.11.28
cffi==1.13.2
channels==2.4.0
chardet==3.0.4
colorclass==2.2.0
configparser==4.0.2
constantly==15.1.0
cryptography==2.8
daphne==2.4.1
Django==2.2.10
django-bootstrap-forms==0.1
django-braces==1.13.0
django-collectionfield==0.0.4
django-crispy-forms==1.8.1
django-gst-field==0.0.3
django-model-utils==4.0.0
django-private-chat==0.2.2
django-smartfields==1.1.1
django-star-ratings==0.9.1
django-widget-tweaks==1.4.5
docopt==0.6.2
et-xmlfile==1.0.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
jdcal==1.4.1
msgpack-python==0.5.6
mysqlclient==1.4.6
numpy==1.17.4
openpyxl==3.0.2
packaging==20.3
pandas==0.25.3
Pillow==6.2.1
pip-upgrader==1.4.15
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
redis==2.10.6
requests==2.22.0
service-identity==18.1.0
six==1.13.0
sqlparse==0.3.0
swapper==1.1.2.post1
terminaltables==3.1.0
Twisted==19.10.0
txaio==20.1.1
urllib3==1.25.8
websockets==3.2
wincertstore==0.2
zope.interface==4.7.1
