{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width,initial-scale=1" name="viewport">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
</head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'scripts/login.js' %}"></script>

<body>
<div id="main">
    <div class="tabBtn">
        <a class="login1 active" href="#">Seller</a>
        <a class="login2" href="#">Customer</a>
    </div>
    <div class="slogin">
        <form action="#" id="slgn-box" method="post">
            {% csrf_token %}
            <input autofocus class="inp" name="username1" placeholder="Email" required type="email"><br>
            <input class="inp" name="password1" placeholder="Password" required type="password"><br>
            <div class="fr">
                <p><a class="forgot" href="#">Register</a></p>
                <p><a class="forgot" href="accounts/password_reset">Forgot Password?</a></p><br>
            </div>
            <input class="logBtn" name="submit" type="submit" value="LOG IN">
        </form>
    </div>
    <div class="clogin">
        <form action="#" id="clgn-box" method="post">
            {% csrf_token %}
            <input autofocus class="inp" name="username2" placeholder="Email" required type="email"><br>
            <input class="inp" name="password2" placeholder="Password" required type="password"><br>
            <div class="fr">
                <p><a class="forgot" href="#">Register</a></p>
                <p><a class="forgot" href="#">Forgot Password?</a></p><br>
            </div>
            <input class="logBtn" name="submit" type="submit" value="LOG IN">
        </form>
    </div>
</div>
</body>
</html>