{% load static %}
<title>Password reset</title>
<link rel="icon" href="{% static 'images/Asset1s.png' %}">
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .card {
            width: 800px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <div class="card">
        <div class="card-header">
            Email Sent Successfully
        </div>
        <div class="card-body">
            <p class="card-text">
                We've emailed you instructions for setting your password, if an account exists with the email you
                entered.
                You should receive them shortly.
            </p>
            <p class="card-text">
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>
        </div>
    </div>
{% endblock %}