{% load widget_tweaks %}
{% load static %}
<title>Password reset</title>
<link rel="icon" href="{% static 'images/Asset1s.png' %}">
{% block content %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .card {
            width: 800px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <div class="card">
        <div class="card-header">
            Forgot Password
        </div>
        <div class="card-body">
            <div class="card-title">
                Enter Email to Continue
            </div>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}<br>
                    {{ field|add_class:"form-control" }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <br>
                {% endfor %}
                <button type="submit" class="btn-success">Submit</button>
            </form>
        </div>
    </div>

    {#    <div class="row">#}
    {#        <aside class="col-sm-4">#}
    {#        </aside>#}
    {#        <aside class="col-sm-4">#}
    {#            <h2>Forgot Password</h2>#}
    {#            <div class="card">#}
    {#                <article class="card-body">#}
    {#                    <form method="post">#}
    {#                        {% csrf_token %}#}
    {#                        {% for field in form %}#}
    {#                            <p>#}
    {#                                {{ field.label_tag }}<br>#}
    {#                                {{ field }}#}
    {#                                {% for error in field.errors %}#}
    {#                                    <p style="color: red">{{ error }}</p>#}
    {#                                {% endfor %}#}
    {#                            </p>#}
    {#                        {% endfor %}#}
    {#                        <button type="submit">Submit</button>#}
    {#                    </form>#}
    {#                </article>#}
    {#            </div>#}
    {#        </aside>#}
    {#        <aside class="col-sm-4">#}
    {#        </aside>#}
    {#    </div>#}
{% endblock %}