{% extends 'customer/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/product_display.css' %}">
    <div class="wrapper grid dispBg">
        {% for i in prods %}
            <div class="item dispBg">
                <div class="card">
                    <div class="card-img-top">
                        <img src="{{ i.p_img.url }}" alt="Image"><br>
                    </div>
                    <div class="card-body">
                        {% if user.is_authenticated %}
                            <a class="card-link clicker" href="/cust/description/{{ i.id }}">{{ i.p_name }}</a>
                        {% else %}
                            <a class="card-link clicker" href="/login">{{ i.p_name }}</a>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                        <a class="stretched-link" href="/cust/description/{{ i.id }}"></a>
                    {% else %}
                        <a class="stretched-link" href="/login"></a>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="{% static 'scripts/product_display.js' %}"></script>
{% endblock %}