{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'styles/product_description.css' %}">

    <div class="leftdiv">
        <table class="newtable">
            <tr>
                <td><img src="{{ data.p_img.url }}" class="limg" alt=""></td>
                <td><h3>{{ data.p_name }}</h3></td>
            </tr>
            <tr>
                <td></td>
                <td><h6>Minimum quantity to be purchased : {{ data.min_q }}</h6></td>
            </tr>
        </table>

        <div class="des">
            <hr>
            <p>{{ data.p_desc }}</p>
            <hr>
        </div>
        <div id="showdata">

        </div>
    </div>
    <div class="rightdiv">
        <p>Seller selling {{ data.p_name }}</p>
        <table>
            <tr>
                <th>Seller Name</th>
                <th>Price</th>
            </tr>
            {% for d in listdata %}
                <tr>
                    <td><a>{{ d.s_name }}</a></td>
                    <td>{{ d.p_price }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript" src="{% static 'scripts/product_description.js' %}"></script>
{% endblock %}