{% extends 'customer/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/product_display.css' %}">
    <div class="wrapper grid">
        {% for i in prods %}
            <div class="item">
                <img src="{{ i.p_img.url }}" alt="Image"><br>
                {% if user.is_authenticated %}
                    <a class="clicker" href="/cust/description/{{ i.id }}">{{ i.p_name }}</a>
                {% else %}
                    <a class="clicker" href="/login">{{ i.p_name }}</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="{% static 'scripts/product_display.js' %}"></script>
{% endblock %}