{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'styles/product_description.css' %}">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <img src="{{ data.p_img.url }}" class="limg" alt="">
                        </div>
                        <div class="col-sm">
                            <h3>{{ data.p_name }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <hr>
                            <h6>Minimum quantity to be purchased : {{ data.min_q }}</h6>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <p class="font-weight-bold">Seller selling {{ data.p_name }}</p>
                <table class="table table-striped">
                    <thead class="table-dark">
                    <tr class="table-row">
                        <th>Seller Name</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in listdata %}
                        <tr class="table-row" onclick="window.location='#{{ d.seller_name }}'; $('#{{ d.seller_name }}').show();">
                            <td><a>{{ d.s_name }}</a></td>
                            <td>{{ d.p_price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {% for d in listdata %}
                    <div id="{{ d.seller_name }}" class="prof font-weight-normal">
                        {{ d.s_name }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'scripts/product_description.js' %}"></script>
{% endblock %}