{% extends 'search/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'styles/product_display.css' %}">
    {% if not tot == 0 %}
        <div class="wrapper grid">
            {% for i in prods %}
                <div class="item">
                <div class="card">
                    <div class="card-img-top">
                        <img src="{{ i.p_img.url }}" alt="Image"><br>
                    </div>
                    <div class="card-body">
                        {% if user.lastname == '1' %}
                            <a class="clicker stretched-link" href="/cust/description1/{{ i.id }}">{{ i.p_name }}</a>
                        {% else %}
                            <a class="clicker stretched-link" href="/seller/description1/{{ i.id }}">{{ i.p_name }}</a>
                        {% endif %}
                    </div>
                </div>

                </div>
            {% endfor %}
        </div>
        <script type="text/javascript" src="{% static 'scripts/product_display.js' %}"></script>
    {% else %}
        <h2>No Products found</h2>
    {% endif %}

{% endblock %}