<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        .box {
            width: 800px;
            margin: 0 auto;
        }

        .active_tab1 {
            background-color: #fff;
            color: #333;
            font-weight: 600;
        }

        .inactive_tab1 {
            background-color: #f5f5f5;
            color: #333;
            cursor: not-allowed;
        }

        .has-error {
            border-color: #cc0000;
            background-color: #ffff99;
        }
    </style>
</head>
<body>
<br/>
<div class="container box">
    <br/>
    <form method="post" id="register_form">
        {% csrf_token %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active_tab1" style="border:1px solid #ccc" id="p1">Personal
                    Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="p2" style="border:1px solid #ccc">Login
                    Credentials</a>
            </li>
        </ul>
        <div class="tab-content" style="margin-top:16px;">
            <div class="tab-pane active" id="p1id">
                <div class="panel panel-default">
                    <div class="panel-heading">Personal Details</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" name="name" id="name" class="form-control"/>
                            <span id="error_name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="text" name="mobile" id="mobile" class="form-control"/>
                            <span id="error_mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="email" id="email" class="form-control"/>
                            <span id="error_email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Date of Birth</label>
                            <input type="date" name="dob" id="dob" class="form-control" />
                        </div>
                        <br>
                        <div align="center">
                            <button type="button" name="b1" id="b1"
                                    class="btn btn-info btn-lg">Next
                            </button>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="p2id">
                <div class="panel panel-default">
                    <div class="panel-heading">Login Credentials</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Enter Password</label>
                            <input type="password" name="password1" id="password1" class="form-control"/>
                            <span id="error_password1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="password2" id="password2" class="form-control"/>
                            <span id="error_password2" class="text-danger"></span>
                        </div>
                        <br/>
                        <div align="center">
                            <button type="button" name="b2"
                                    id="b2" class="btn btn-default btn-lg">Previous
                            </button>
                            <button type="submit" name="b3" id="b3"
                                    class="btn btn-success btn-lg">Register
                            </button>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
    </form>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#b1').click(function () {
            var error_email = '';
            var error_name = '';
            var error_mobile = '';
            var mobile_validation = /^\d{10}$/;
            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

            if ($.trim($('#email').val()).length == 0) {
                error_email = 'Email is required';
                $('#error_email').text(error_email);
                $('#email').addClass('has-error');
            } else {
                if (!filter.test($('#email').val())) {
                    error_email = 'Invalid Email';
                    $('#error_email').text(error_email);
                    $('#email').addClass('has-error');
                } else {
                    error_email = '';
                    $('#error_email').text(error_email);
                    $('#email').removeClass('has-error');
                }
            }

            if ($.trim($('#name').val()).length == 0) {
                error_first_name = 'Name is required';
                $('#error_name').text(error_first_name);
                $('#name').addClass('has-error');
            } else {
                error_name = '';
                $('#error_name').text(error_name);
                $('#name').removeClass('has-error');
            }

            if ($.trim($('#mobile').val()).length == 0) {
                error_mobile = 'Mobile Number is required';
                $('#error_mobile').text(error_mobile);
                $('#mobile').addClass('has-error');
            } else {
                if (!mobile_validation.test($('#mobile').val())) {
                    error_mobile = 'Invalid Mobile Number';
                    $('#error_mobile').text(error_mobile);
                    $('#mobile').addClass('has-error');
                } else {
                    error_mobile = '';
                    $('#error_mobile').text(error_mobile);
                    $('#mobile').removeClass('has-error');
                }
            }

            if (error_email != '' || error_name != '' || error_mobile != '') {
                return false;
            } else {
                $('#p1').removeClass('active active_tab1');
                $('#p1').removeAttr('href data-toggle');
                $('#p1id').removeClass('active');
                $('#p1').addClass('inactive_tab1');
                $('#p2').removeClass('inactive_tab1');
                $('#p2').addClass('active_tab1 active');
                $('#p2').attr('href', '#p2id');
                $('#p2').attr('data-toggle', 'tab');
                $('#p2id').addClass('active in');
            }
        });

        $('#b2').click(function () {

            $('#p2').removeClass('active active_tab1');
            $('#p2').removeAttr('href data-toggle');
            $('#p2id').removeClass('active in');
            $('#p2').addClass('inactive_tab1');
            $('#p1').removeClass('inactive_tab1');
            $('#p1').addClass('active_tab1 active');
            $('#p1').attr('href', '#p1id');
            $('#p1').attr('data-toggle', 'tab');
            $('#p1id').addClass('active in');
        });
    });
</script>
