{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Seller Registration</title>
    <link rel="icon" href="{% static 'images/Asset1s.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/seller_regis.css' %}"/>
</head>
<body>
<br/>
<div class="container box">
    <form method="post">
        {% csrf_token %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active_tab1" id="p1">Personal Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="p2">Company Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inactive_tab1" id="p3">Login Credentials</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="p1id">
                <div class="panel panel-default">
                    <div class="panel1">
                        <div class="panel-heading">Personal Details</div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input type="text" name="name" id="name" class="form-control"/>
                            <span id="error_name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="mobile">Mobile Number</label>
                            <input type="text" name="mobile" id="mobile" class="form-control"/>
                            <span id="error_mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" name="email" id="email" class="form-control"/>
                            <span id="error_email" class="text-danger"></span>
                        </div>
                        <br/>
                        <div align="center">
                            <button type="button" name="b1" id="b1" class="btn btn-primary btn-lg">Next</button>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="p2id">
                <div class="panel panel-default">
                    <div class="panel1">
                        <div class="panel-heading">Company Details</div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="cname">Company Name</label>
                            <input type="text" name="cname" id="cname" class="form-control"/>
                            <span id="error_cname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="gst">GST Number</label>
                            <input type="text" name="gst" id="gst" class="form-control"/>
                            <span id="error_gst" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="address">Company Address</label>
                            <input type="text" name="address" id="address" class="form-control"/>
                            <span id="error_address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" name="state" id="state" class="form-control"/>
                            <span id="error_state" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="pin">Pincode</label>
                            <input type="text" name="pin" id="pin" class="form-control"/>
                            <span id="error_pin" class="text-danger"></span>
                        </div>
                        <br/>
                        <div align="center">
                            <button type="button" name="b2" id="b2" class="btn btn-default btn-lg">Previous</button>
                            <button type="button" name="b3" id="b3" class="btn btn-info btn-lg">Next</button>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="p3id">
                <div class="panel panel-default">
                    <div class="panel1">
                        <div class="panel-heading">Credentials</div>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label for="password1">Enter Password</label>
                            <input type="password" name="password1" id="password1" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input type="password" name="password2" id="password2" class="form-control"/>
                        </div>
                        <br/>
                        <div align="center">
                            <button type="button" name="b4" id="b4" class="btn btn-default btn-lg">Previous</button>
                            <button type="submit" name="b5" id="b5" class="btn btn-success btn-lg">Register</button>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="{% static 'scripts/seller_regis.js' %}"></script>
</body>
</html>

