{% extends 'seller/base.html' %}
{% load static %}

<link href="{% static 'styles/product_upload.css' %}"/>
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" name="Submit">Upload</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="deleter">Delete</button>
    </form>

    <script type="text/javascript" src="{% static 'scripts/product_upload.js' %}"></script>
{% endblock %}
