.wrapper {
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
}

.w1{
    /*text-align: center;*/
    text-align-all: center;
}
h3 {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

.table-row {
    cursor: pointer;
}

