{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business Vision - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/homestyles.css' %}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">BV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse align-items-center" id="navbarToggler">
        <ul class="navbar-nav d-flex align-items-center">
            {% if not user.is_authenticated %}
                <meta http-equiv="refresh" content="0; url = cust/display"/>
            {% else %}
                {% if user.last_name == '1' %}
                    <meta http-equiv="refresh" content="0; url = cust/"/>
                {% else %}
                    <meta http-equiv="refresh" content="0; url = seller/"/>
                {% endif %}
                <li><a href="#">Home</a></li>
                <li><a href="#">Hello,<br>{{ user.first_name }}</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</nav>



</body>
</html>
