{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business Vision - Home</title>
    <link rel="icon" href="{% static 'images/Asset1s.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {#    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/homestyles.css' %}">
    <style>
        body{
            background: gray;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Business Vision</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse align-items-center" id="navbarToggler">
        <ul class="navbar-nav d-flex align-items-center">
            {% if not user.is_authenticated %}
                <meta http-equiv="refresh" content="0; url = cust/display"/>
            {% else %}
                {% if user.last_name == '1' %}
                    <meta http-equiv="refresh" content="0; url = cust/"/>
                {% else %}
                    <meta http-equiv="refresh" content="0; url = seller/"/>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>alert("{{ message }}")</script>
        {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
