/* .box {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active_tab1 {
    background-color: #0063B2FF;
    color: #FFF;
    font-weight: 600;
}

.inactive_tab1 {
    background-color: #9CC3D5FF;
    color: #333;
    cursor: not-allowed;
    border: 1px solid #CCC;
}

#p1, #p2 {
    border: 1px solid #CCC;
    border-radius: 10px;
}

.has-error {
    border-color: #CC0000;
    background-color: #FFFF99;
}

.panel-heading {
    font-weight: 600;
}

.panel1 {
    background-color: #94D3AC;
}

.panel-body {
    background-color: #CCEDD2;
}

.tab-content {
    box-shadow: 5px 5px 3px grey;
}

.form-control {
    box-shadow: 3px 3px 2px gray;
} */

body {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 10%, #4682b4 83%);
    width: 100vw;
    height: 800px;
}

.box {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active_tab1 {
    background-color: #8edb6c;
    color: #000;
    font-weight: 600;
}

.inactive_tab1 {
    background-color: #c1e2b2;
    color: #000;
    /* cursor: not-allowed; */
    border: 1px solid #CCC;
}

#p1, #p2 {
    border: 1px solid #CCC;
    border-radius: 10px;
}

.has-error {
    border: 2px solid #C00;
}

.panel-heading {
    font-weight: 600;
}

.panel1 {
    background-color: #8edb6c;
}

.panel-body {
    background-color: #c1e2b2;
}

.tab-content {
    box-shadow: 5px 5px 3px #474747;
}

.form-control {
    box-shadow: 3px 3px 2px #474747;
}