/* .wrapper {
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
}

.w1{
    text-align-all: center;
}
h3 {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

.table-row {
    cursor: pointer;
}
 */

 .wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 40px;
    padding-top: 2%;
}

h3 {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

.table-row {
    cursor: pointer;
}
