
.wrapper {
    background-color: white;
    border-radius: 10px;
}

@media (min-width: 1281px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        grid-auto-rows: minmax(250px, auto);
        margin-right: 17%;
        margin-left: 17%;
        margin-top: 100px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(250px, auto);
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(250px, auto);
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(250px, auto);
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 100px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(250px, auto);
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 100px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(250px, auto);
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 100px;
    }
}

img {
    width: 150px;
    height: 150px;
}

.item {
    text-align: center;
}