
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main1 {
    margin-top: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

img {
    width: 180px;
    height: 180px;
    margin: 10px;
}

.d {
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #a4e3f1;
    box-shadow: 5px 5px 3px #a5a5a5;
}

.b {
    font-weight: bold;
}

.ad {
    background-color: #eceaea;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 3px #585656;
    margin-top: 15px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ad1 {
    animation: blink 3s;
    animation-iteration-count: infinite;
}

/*#prof {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    margin-left: 35px;*/
/*}*/
