/* .form-inline {
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    margin-left: auto;
    margin-right: auto;
}

.btn-success {
    background-color: #9CC3D5FF;
    color: black;
}

.btn-success:hover {
    background-color: #94D3AC;
    color: black;
} */

.form-inline {
    margin-left: 2px;
    margin-right: 2px;
}

.search-form {
    margin-left: 2px;
    margin-right: 2px;
}

.btn-success {
    background-color: #9CC3D5FF;
    color: black;
}

.btn-success:hover {
    background-color: #94D3AC;
    color: black;
}